<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="EpisoPass">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="icon" type="image/png" href="data:image/png;base64,<%= @data['fav'] %>">
    <title><%= @data['data']['name'] %></title>
    <style type="text/css">
    body {
        background-image: url("data:image/gif;base64,<%= @data['bg'] %>");
    }
    div {
      font-family: sans-serif
    }
    span {
      font-family: sans-serif
    }
    </style>

    <script type="text/javascript">
    const data = <%= @data['data'].to_json %>;
    </script>
    <script type="text/javascript"><%= @data['jquery'] %></script>
    <script type="text/javascript"><%= @data['episodas'] %></script>
    <script type="text/javascript"><%= @data['md5'] %></script>
    <script type="text/javascript"><%= @data['crypt'] %></script>
  </head>
  <body>
  </body>
</html>

